[Unit]
Description=tcp-echo-server

[Service]
Type=simple
ExecStart=/home/ec2-user/.nvm/versions/node/v16.19.0/bin/node /home/ec2-user/build-tcp-echo-server/step-1_tcp-echo-server.js
Restart=on-failure

[Install]
WantedBy=multi-user.target